<div>
    <div class="modal {{animation}}" ng-class="{'show in': isOpen}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                            ng-click="close()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{{title}}</h4>
                </div>
                <div class="modal-body" ng-transclude></div>
                <div class="modal-footer" ng-if="buttons.length">
                    <button class="btn {{btn.class}}" ng-click="btn.click()" ng-repeat="btn in buttons">{{btn.title}}
                </div>
            </div>
        </div>
        <div class="modal-backdrop {{animation}}"
             ng-class="{'show in': isOpen}"
             ng-if="isOpen"
             ng-click="close()"></div>
    </div>
</div>